<div class="main-data">
	<%= semantic_form_for @land , remote: true, html: {class: "base-form", target: "app_iframe"} do |f|%>
		<%= f.inputs do %>
			<%= f.input :title%>
			<%= f.input :avatar, as: :file%>
			<%= f.input :land_position_text, label: "Vị trí"%>
			<%= f.input :land_status, label: "Tiến độ"%>
			<%= f.input :price, label: "Giá"%>	
			<%= f.input :land_type, as: :radio, collection: [['Bán căn hộ','sale'], ['Cho thuê', 'rent']]%>
			<li class="map-google">
				<%= show_map_helper @land, {zoom: 10, latitude: 10.749026, longitude: 106.674575, allow: 'point', searchbox: 'show', width: 270, height: 150}%>
			</li>
		<% end%>
		
		
		<%= f.actions do %>
			<li>
	      <input class="base-form-submit" type="submit" value="Save" name="commit">
			</li>
	  <% end %>	
	<% end %>
</div>
