<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page-wrap">
		<%= render :partial => "/shared/header"%>
		<div class="main-content">
			<div class="inner-container">
				<div id="left_banner">
					
				</div><!-- end #left-banner -->
				
				<div id="stage">
					<%= yield %>
				</div>
				<div id="right_banner">
					<%= render :partial => "/shared/right_banner"%>
				</div>
			</div>
		</div>
		<%= render :partial => '/shared/footer' %>
	</div> <!--end #page-wrap -->
</body>
</html>
