<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
  <%= google_map_api_js("AIzaSyBaAPECK5m4MLk3NB74Lzg_rRFBD8Kwuhg") %>
</head>
<body>
	<div id="ad_wrapper">
		<div id="ad_header">
			
			<%= render partial: "/admins/shared/header" %>
		</div>
		<div id="ad_main">
			<div class="left-menu">
				<%= render :partial => "admins/shared/left_menu"%>
			</div>
			
			<div id="stage">
				<%= yield %>
			</div>
			
		</div>
	</div>
	<iframe id='app_iframe' name="app_iframe" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
</body>
</html>